{
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "importOrder": [
    "^react(.*)",
    "^next(.*)",
    "^antd(.*)",
    "^@ant-design(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"]
}
